
        <h1 align = "center">IdeaBox</h1>
        <form action = "/<%=id%>" method = "POST">
            <p>
                Edit your idea:
            </p>
            <input type = "hidden" name = "_method" value = "PUT">
            <input class = "form-control" type = "text" name = "idea[title]" value = "<%= idea.title%>" /> <br/>
            <textarea class = "form-control" name = "idea[description]"> <%= idea.description %> </textarea> <br/>
            <div align = "center">
                <input class = "btn btn-info" type ="submit">    
            </div>
        </form>
